#address{
text-align:center;
padding:0;
margin:0;
font-size:24px;
}
#newaddress{
margin:0;
padding:0;
font-size:16px;
color:blue;
text-align: center;
cursor:pointer;
}
#hps, #totalhashes, #acceptedhashes{
text-align: center;
}
div.start{
padding-top:24px;
}
body{
text-align:center;
}
#send{
margin:0;
padding:0;
}
p.payout{
display:inline;
}
div.payout{
padding-bottom:8px;
}
div.bal{
padding-top:8px;
}
#balancewords, #balance, #balancewords2{
display:inline;
}
div.hps{
padding-top:16px;
}
p.hps{
display:inline;
}
div.totalhashes{
padding-top:8px;
}
p.totalhashes{
display:inline;
}
div.acceptedhashes{
padding-top:8px;
}
p.acceptedhashes{
display:inline;
}
.btn{
cursor:pointer;
}
p.info{
padding-top:16px
}
p.dash{
font-size:64px;
}
p{
font-size:20px;
}
